$primary: #94ca93;
$secondary: #91a18d;
$highlight: #e6c973;
$background-light: #c4c4c4;
$background-dark: #9b9b9b;
$background-sexy: #282828;
$text: "Fira Code";
$heading: "Montserrat";
$size-text: 1rem;
$size-heading-small: 1.25rem;
$size-heading: 1.5rem;
$size-heading-big: 2rem;
