///////////////////////////////////////////////////////////////////////////////
//                           CodeBunker Styleguide                           //
///////////////////////////////////////////////////////////////////////////////

@import "reset";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Montserrat:wght@700&display=swap");

// General Rules //////////////////////////////////////////////////////////////
.is-active-link {
  color: black;

  &::before {
    content: "> ";
  }
  &::after {
    content: " <";
  }
}

p,
span,
em {
  font-family: $text;
  font-size: $size-text;
  font-weight: 500;
}

h1 {
  font-size: $size-heading-big;
}

h2 {
  font-size: $size-heading;
}

h3 {
  font-size: $size-heading-small;
}

h1,
h2,
h3 {
  font-family: $heading;
}

#root {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: $background-sexy;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 100%;
}

// Navigation /////////////////////////////////////////////////////////////////
.nav-wrapper {
  background-color: $background-dark;
  height: 100%;
  display: grid;
  grid-template-rows: 12% 82% 6%;

  h1,
  h2,
  h3,
  p,
  a,
  pre,
  span {
    color: black;
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
  }
  .styleguide-nav {
    padding: 10px 20px;
    display: flex;
    justify-content: flexstart;
    align-items: center;
    font-family: $heading;
    flex-direction: column;
    list-style: none;
    li {
      list-style: none;
      width: 100%;
      margin-top: 10px;
      a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        outline: none;

        text-decoration: none;
        font-size: $size-heading-small;
        width: 100%;
        font-weight: 600;
      }
    }
  }
  .authors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background-dark;
  }
}
// PAGE ///////////////////////////////////////////////////////////////////////
.page {
  color: white;
  overflow-y: scroll;
  padding: 20px 25%;
  max-height: 100vh;

  section {
    margin-top: 30px;

    h1,
    h2,
    h3 {
      text-transform: uppercase;
    }
    p {
      font-size: 1.2rem;
      margin-top: 20px;
    }
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 30px;
    }

    .Collapsible {
      padding: 10px;
      span {
        transition: 0.3s ease all;
        color: $highlight;
        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

// MODULE /////////////////////////////////////////////////////////////////////
.module {
  height: auto;
  border-radius: 20px;
  padding: 30px;
  width: 80%;
  background-color: $background-dark;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;

  h1,
  h2,
  h3 {
    text-transform: none !important;
  }
}
